<% include ../partials/header %>

<div class="ui main text segment container">
	<div class="ui huge header">New Follow-Up</div>
	<form class="ui form" action="/accounts/<%= account._id %>/logs" method="POST">
		<div class="field">
			<label>Account #</label>
			<input type="text" name="account[number]" value="<%= account.number %>" disabled>
		</div>
		<div class="field">
			<label>Payer</label>
			<input type="text" name="log[payer][name]" placeholder="Blue Shield" required autofocus>
		</div>
		<div class="field">
			<label>Phone Number</label>
			<input id="phone" type="text" name="log[payer][phone]" placeholder="(xxx) xxx-xxxx" required>
		</div>
		<div class="field">
			<label>Reference #</label>
			<input type="text" name="log[payer][ref]" placeholder="###########" required>
		</div>
		<div class="field">
			<label>Representative</label>
			<input type="text" name="log[payer][rep]" placeholder="John Doe" required>
		</div>
		<div class="field">
			<label>Status</label>
			<input type="text" name="log[status]" placeholder="Claim in process" required>
		</div>
		<div class="field">
			<label>Additional Notes</label>
			<textarea name="log[note]" placeholder="Write notes here..."></textarea>
		</div>
		<input  class="ui button" type="submit">
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#phone").on("keypress", function() {
			formatPhoneNumber($(this));
		});
	});

	function formatPhoneNumber(s) {
		var s2 = ("" + s.val()).replace(/\D/g, "");
		var size = s2.length;
		if(size === 0) {
			return s.val(s2);
		} else if(size < 3) {
			return s.val("(" + s2);
		} else if(size < 6) {
			return s.val("(" + s2.substring(0,3) + ") " + s2.substring(3,6));
		} else if(size < 10) {
			return s.val("(" + s2.substring(0,3) + ") " + s2.substring(3,6) + "-" + s2.substring(6,10));
		} else {
			return s.val("(" + s2.substring(0,3) + ") " + s2.substring(3,6) + "-" + s2.substring(6,10) + " x" + s2.substring(10,));
		}
	}
</script>
<% include ../partials/footer %>